.review1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img__whNtu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__whNtu > picture > img {
  object-fit: cover;
}
.img__whNtu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__eru7O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img__uw2WO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uw2WO > picture > img {
  object-fit: cover;
}
.img__uw2WO > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ax3Ih {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__obAu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
